nav.navbar.bootsnav {
  background-color: #35434E;
  border-bottom: 1px solid #35434E;
}
/* .owl-dots{
  width:140px;padding:10px;margin:0 auto;line-height:13px;background:#fe7f8b
} */
.owl-dot span{
  width:12px;height:12px;border-radius:0;background:0 0;border:1px solid #fff
}
.owl-dot active span{
  width:20px;border:4px solid #fff}.bl-dark{background:#35434e
}